# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Teste.ItLAB/.vs/Teste.ItLAB/v15/Server/sqlite3
/Teste.ItLAB/.vs
/Teste.ItLAB/Teste.ItLAB.Bussines/bin/Debug/netcoreapp2.2
/Teste.ItLAB/Teste.ItLAB.TDD/bin/Debug/netcoreapp2.2
/Teste.ItLAB/Teste.ItLAB.WebAplication/bin/Debug/netcoreapp2.2
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Razor/Views/Produto/Index.g.cshtml.cs
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Razor/Views/Shared
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Razor/Views/Produto/_ListarProdutos.g.cshtml.cs
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Teste.ItLAB.WebAplication.csproj.CopyComplete
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Teste.ItLAB.WebAplication.csproj.FileListAbsolute.txt
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Teste.ItLAB.WebAplication.RazorCoreGenerate.cache
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Teste.ItLAB.WebAplication.RazorTargetAssemblyInfo.cache
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Teste.ItLAB.WebAplication.RazorTargetAssemblyInfo.cs
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Teste.ItLAB.WebAplication.TagHelpers.input.cache
/Teste.ItLAB/Teste.ItLAB.WebAplication/obj/Debug/netcoreapp2.2/Teste.ItLAB.WebAplication.TagHelpers.output.cache
